.users{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  transition: 0.125s ease all;
  margin: auto;
}
.users-search{
  width: fit-content;
  margin: 2rem auto;
}
.users-search input{
  padding: 0.50rem;
}
.users--content{
  min-width: 12rem;
  transition: 0.125s ease all;
  max-width: 19%;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: var(--background--secondary);
}
.users--content a img{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 100%;
  width: 100%;
  max-width: 10rem;
  max-height: 10rem;
}
.users--content a h4{
  max-width: 100%;
}


